.section-login .login-title {
  padding-top: 50px;
  padding-bottom: 16px;
}

.section-login .login-line {
  background-color: #ffffff;
  border: 1px solid #dbe0e9;
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 8px;
  margin-top: 8px;
}

.section-login .login-line span {
  width: 100px;
  color: #000000;
  border-right: 1px solid #dbe0e9;
  margin-right: 24px;
}

.section-offer .title span {
  padding-top: 50px;
  font-weight: 600;
}

.section-offer .offer_img,
.section-offer .offer_text {
  text-align: center;
}

.section-offer img {
  max-width: 176px;
}

.section-offer .offer_text {
  font-size: 20px;
  color: #262626;
  font-weight: 700;
  padding: 0 40px;
}

.looking-forward {
  padding-top: 50px;
  color: #262626;
}
