table,
tr,
td,
img,
p,
a,
body {
  margin: 0px auto;
  padding: 0px;
}

body {
  background-color: #ffffff;
  padding: 15px 0;
}

body,
p {
  font-family: Arial, sans-serif;
  line-height: 150%;
  font-size: 100%;
  font-weight: normal;
  font-size: 16px;
  color: #636872;
}

table {
  border-spacing: 0px;
  width: 100%;
  max-width: 615px;
  border-collapse: collapse;
}

img {
  display: inline-block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

ol,
ul {
  text-align: left;
  padding-left: 20px;
}

ol {
  margin-bottom: -24px;
}

ol li {
  padding-left: 10px;
  padding-bottom: 24px;
}

.comment {
  font-size: 12px;
  letter-spacing: 0.01em;
  padding-top: 16px;
}

.link {
  color: #3971ff;
  cursor: pointer;
}

.link img {
  max-height: 16px;
  padding-right: 6px;
  line-height: 1;
}

.button {
  padding: 10px 40px;
  border-radius: 8px;
  background-color: #3971ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #5887ff;
}

.action {
  text-align: center;
}

#main {
  width: 100%;
  max-width: 100%;
}

#email {
  width: 615px;
  border-collapse: initial;
  padding: 24px 0 85px;
  background-color: #f9f9f9;
}

#email table {
  max-width: 445px;
}

.header {
  text-align: center;
}

.logo {
  padding-bottom: 65px;
}

.logo img {
  display: inline-block;
  max-width: 115px;
}

.section-hero {
  text-align: center;
}
.section-hero img {
  max-width: 255px;
}

.section-content,
.footer {
  text-align: left;
}

.section-content .heading {
  max-width: 360px;
  text-align: center;
  color: #3971ff;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 120%;
  padding: 50px 0 16px;
}

.section-content .content-text {
  padding-bottom: 50px;
}

.footer-text {
  font-size: 14px;
  padding: 50px 0;
}

.footer .signature {
  font-size: 12px;
  letter-spacing: 0.01em;
}
